body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    width: 575px;
    height: 385px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}


h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    width: 149px;
    height: 36px;
}

p {
    width: 117px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    margin: auto;
    padding-top: 5px
}

.score{
    background: #080001;
    width:155px;
    height: 120px;
    border-radius: 5px;
    text-align:center;
    margin-bottom: 15px;
}

button {
    width: 45px;
    height: 45px;
    margin-top:10px;
    background-color: #1B244A;
    border: solid #9AABD8 2px;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';


}

.btn-container{
    display: flex;
    justify-content: space-between;
}